.app {
    display: flex;
    justify-content: space-between;
    border: solid black;
}

.logo {
    width: 50px;
}

.nav-items > ul {
    display: flex;
    gap: 25px;
    list-style: none;
}

.nav-items > ul > li {
    padding: 2px;
    margin: 15px;
}