/* Item Category */
/* .item-category {
    display: flex;
    flex-direction: column;
    gap: 0px;
    margin: 5px;
} */

/* .item-category-name {
    font-size: 20px;
    font-weight: bolder;
    margin: 0px;
    align-self: center;
} */