/* Restaurant Card Elements */
/* .restro-card {
    display: flex;
    width: 250px;
    height: 300px;
    gap: 5px;
    flex-direction: column;
    border: 1px solid black;
    background-color: #F0F0F0;
} */

/* .restro-card:hover {
    cursor: pointer;
} */

/* .restro-card-name {
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    margin: 0px;
    font-size: 20px;
} */

/* .restro-card-cusinies {
    margin: 0px;
} */

/* .restro-card-ratings {
    margin: 0px;
} */

/* .restro-card-img {
    padding: 5px;
    width: 95%;
    align-self: center;
    height: 75%;
    margin: 0px;
    border-radius: 10%;
} */

/* .restro-card-address {
    margin: 0px;
} */